# Generated content
**/node_modules
**/Polly/recordings/*
**/Polly/build/*
**/cypress/screenshots
**/cypress/videos
**/cypress/support
yarn-error.log

# IDE cruft
.idea

# Todos and scratchpads
notes.md

# Exceptions
!.placeholder
