# Generated content
**/node_modules
**/Polly/recordings/*
**/Polly/build/*
**/cypress/screenshots
**/cypress/videos
**/cypress/support
**/cypress/fixtures/example.json
.lambdatest
capabilities-*.txt
CodeceptJS/output

# IDE cruft
.idea

# Todos and scratchpads
notes.md

# Logs
yarn-error.log
lambdaTunnelLog.log

# Exceptions
!.placeholder
