# Generated content
**/node_modules
**/Polly/recordings/*
**/Polly/build/*
**/cypress/screenshots
**/cypress/videos
**/cypress/support
.lambdatest
capabilities-*.txt

# IDE cruft
.idea

# Todos and scratchpads
notes.md

# Logs
yarn-error.log
lambdaTunnelLog.log

# Exceptions
!.placeholder
